.navbar {
	display: flex;
	justify-content: center; /* Center the links */
	align-items: center;
	background-color: #001f3f; /* Dark background */
	padding: 10px 0; /* Padding around the navbar */
	position: relative; /* Relative positioning for absolute child */
	width: 100%; /* Full width */
}

/* Center the links */
.navbar-center {
	display: flex;
	justify-content: center;
	flex-grow: 1; /* Allow the center div to grow */
}

/* Styling for the links */
.navbar-link {
	padding: 0px 10px; /* Space between links */
}

.navbar-link .MuiButton-root {
	background-color: #007bff; /* Primary button color */
	color: #ffffff;
	text-transform: none; /* Disable uppercase text */
	font-weight: bold;
	border-radius: 20px; /* Rounded corners */
	padding: 10px 20px;
	transition:
		background-color 0.3s ease,
		transform 0.3s ease;
}

.navbar-link .MuiButton-root:hover {
	background-color: #0056b3; /* Darker blue on hover */
	transform: translateY(-2px); /* Slight lift on hover */
}

.navbar-link .MuiButton-root.active {
	background-color: #ff4136; /* Red color for active button */
}

.sidebar-icon {
	font-size: 24px;
	color: white;
	cursor: pointer;
	position: absolute;
	top: 20px;
	left: 20px;
	transition: transform 0.3s ease-in-out; /* Smooth transition for the icon */
}


/* Media query for smaller screens */
@media (max-width: 640px) {
	.navbar {
		flex-direction: column; /* Stack items vertically */
		align-items: flex-start; /* Align items to the start */
	}

	.navbar-center {
		order: 1; /* Ensure links are first */
		width: 100%; /* Full width */
		justify-content: center; /* Center links */
	}

	.navbar-link {
		padding: 0px 5px; /* Space between links */
	}
	
	.navbar-link .MuiButton-root {
		padding: 5px 10px;
	}

	.sidebar-icon {
		top: 15px;
		left: 15px;
	}
}