.notification-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    position: relative;
}

.notification {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 90%;
    max-width: 400px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    top: 60px;
    z-index: 1000;
}

.notification-show {
    opacity: 1;
    transform: translateY(0);
}

.notification-loading {
    border-color: #007bff;
    background-color: #e7f3ff;
    color: #007bff;
}

.notification-circular {
    margin-left: 0.5rem;
}

.notification-success {
    border-color: #28a745;
    background-color: #e6f4ea;
    color: #28a745;
}

.notification-error {
    border-color: #dc3545;
    background-color: #f8d7da;
    color: #dc3545;
}

@media screen and (max-width: 768px) {
    .notification {
        top: 90px;
    }
    
}